asgiref==3.8.1
asttokens==2.4.1
autocommand==2.2.2
beautifulsoup4==4.13.3
certifi==2024.8.30
charset-normalizer==3.4.1
colorama==0.4.6
decorator==5.1.1
distlib==0.3.8
Django==5.1.1
executing==2.1.0
filelock==3.16.1
idna==3.10
ipython==8.28.0
jaraco.context==6.0.1
jaraco.env==1.0.0
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.1
matplotlib-inline==0.1.7
more-itertools==10.5.0
packaging==24.1
parso==0.8.4
path==17.0.0
pillow==11.1.0
pip-run==13.0.0
pipenv==2024.1.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
pure_eval==0.2.3
Pygments==2.18.0
RapidFuzz==3.12.1
requests==2.32.3
setuptools==75.1.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
stack-data==0.6.3
syncedlyrics==1.0.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
virtualenv==20.26.6
wcwidth==0.2.13
